.card {
    width: 254px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 4px #0003;
}

.card-header {
    height: 160px;
}

.card-content {
    background-color: #fff;
    padding: 10px;
}

.card-excerpt {
    color: #777;
    margin: 10px;
}

.animated-bg {
    background-image: linear-gradient(
            to right,
            #f6f7f8 0%,
            #edeef1 10%,
            #f6f7f8 20%,
            #f6f7f8 100%
    );
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}

.animated-bg-text {
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: -150% 0;
    }
}
